# Local .terraform directories
.terraform/*
*.hcl
*local_key*
!terraform.tfvars

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all other .tfvars files (except terraform.tfvars)
*.tfvars
*.tfvars.json
!terraform.tfvars  # Keep terraform.tfvars in version control

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include specific override files you wish to track
# !example_override.tf

# Ignore plan output
*tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc